@model IEnumerable<Butler.Models.Dish>
@{
    ViewData["Title"] = "Dishes";
}
<style>
    .body-bg {
        padding-top: 10px;
        background-image: url('/images/background.jpg');
        background-position-y: 110px;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
        overflow: auto;
    }
</style>
<div class="jumbotron jumboImg" style="background-color:inherit;"><h1 class="dishJumbo">Dishes</h1> </div>
<div class="container-fluid top-spaced visible-xs-block"><h1 class="dishJumbo">Dishes</h1></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 top-spaced well well-lg">
        <table id="DishesTable" class="table table-striped" cellspacing="0" width="100%">
            <thead class="bg-primary">
                <tr>
                    <th class="all text-center">Image</th>
                    <th class="all text-center">Name</th>
                    <th class="desktop text-center">Tuppers</th>
                    <th class="desktop text-center">Type</th>
                    <th class="text-center">Consistency</th>
                    <th class="all"></th>
                </tr>
            </thead>
            <tbody>            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-md-offset-1 col-sm-6 bottom-spaced">
        <a asp-area="" asp-controller="Dish" asp-action="Edit" class="btn btn-success">New dish</a>
    </div>
</div>


    @section scripts{
        <script>
            $(document).ready(function () {
                $('#DishesTable').dataTable({
                    "dom": "frtip",
                    'bPaginate': true,
                    'iDisplayLength': 5,
                    responsive: {
                        details: {
                            renderer: function (api, rowIdx, columns) {
                                var data = $.map(columns, function (col, i) {
                                    return col.hidden ?
                                        '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                                            '<td>' + col.title + ':' + '</td> ' +
                                            '<td>' + col.data + '</td>' +
                                        '</tr>' :
                                        '';
                                }).join('');

                                return data ?
                                    $('<table/>').append(data) :
                                    false;
                            }
                        }
                    },
                    serverSide: true,
                    ajax: '@Url.Action("Returndata", "Dish")',
                    "sServerMethod": "POST",
                    "sAjaxDataProp": "filteredData",
                    "aoColumnDefs": [ {
                        "aTargets": [0],
                        "mData": "imageSrc",
                        orderable: false,
                        "mRender": function (data, type, row) {
                                    if(data == undefined || data == null || data == ""){
                                        data = "http://placehold.it/50x30";
                                    }
                                    return '<img src="' + data + '" width="50px" height="38px">';
                                }
                            },{
                        "aTargets": [5],
                        "mData": "id",
                        orderable: false,
                        "mRender": function (data, type, row) {
                            return '<a href="@Url.Action("Edit", "Dish")/' + data + '">Edit</a>';
                            }
                        }, {
                        "aTargets": [1],
                        "mData": "name",
                        "mRender": function (data, type, row) {
                            return '<a href="@Url.Action("View", "Dish")/' + row.id + '" class="not-underlined">' + data + '</a>';
                        }
                    }
                    ],
                    "aoColumns": [
                                    { "mData": "imageSrc" },
                                    { "mData": "name" },
                                    { "mData": "tuppers" },
                                    { "mData": "type" },
                                    { "mData": "consistency" },
                                    { "mData": "id" }
                                ]
                });
            });
        </script>

    }
